@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>RealEstate CRM</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        Designed by <a href="https://kutluay.net/">OFarukKutluay</a>
    </div>
</footer><!-- End Footer -->