@using System.Security.Claims

@{
}

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" id="homenavlink" href="/">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#customers-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Müşteriler</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="customers-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/customer">
                        <i class="bi bi-circle"></i><span>Müşteri Listele / Ara</span>
                    </a>
                </li>
                <li>
                    <a href="/customer/ownedproperties">
                        <i class="bi bi-circle"></i><span>Müşteri Portföyleri Ara</span>
                    </a>
                </li>
                <li>
                    <a href="/customer/takip">
                        <i class="bi bi-circle"></i><span>Takiptekiler</span>
                    </a>
                </li>
                <li>
                    <a href="/customer/ilandakiler">
                        <i class="bi bi-circle"></i><span>İlandakiler</span>
                    </a>
                </li>
                <li>
                    <a href="/customer/ilansiz">
                        <i class="bi bi-circle"></i><span>İlansız Çalıştıklarım</span>
                    </a>
                </li>
                <li>
                    <a href="/customer/add">
                        <i class="bi bi-circle"></i><span>Müşteri Ekle</span>
                    </a>
                </li>


            </ul>
        </li><!-- End Components Nav -->
        @*        <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#property-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>İlan</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="property-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
        <a href="/property">
        <i class="bi bi-circle"></i><span>Mülkler</span>
        </a>
        </li>
        <li>
        <a href="/property/add">
        <i class="bi bi-circle"></i><span>Mülk ekle</span>
        </a>
        </li>
        </ul>
        </li><!-- End Forms Nav -->*@

        <li class="nav-heading">Sayfalar</li>
        @if (Context.User.Claims.FirstOrDefault(e => e.Type == ClaimTypes.Role)?.Value == "Admin")
        {
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#admin-nav" data-bs-toggle="collapse" href="/admin">
                    <i class="bi bi-menu-button-wide"></i><span>Admin</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="admin-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/admin/logs">
                            <i class="bi bi-circle"></i><span>Loglar</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/users">
                            <i class="bi bi-circle"></i><span>Kullanıcılar</span>
                        </a>
                    </li>

                </ul>

            </li>

            <!-- End Admin Page Nav -->
        }

        <li class="nav-item">
            <a class="nav-link collapsed" href="/profile">
                <i class="bi bi-person"></i>
                <span>Profile</span>
            </a>
        </li><!-- End Profile Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/contact">
                <i class="bi bi-envelope"></i>
                <span>İletişim</span>
            </a>
        </li><!-- End Contact Page Nav -->

    </ul>

</aside><!-- End Sidebar-->