
@model Customer


<div class="modal fade" id="customerDeleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="customerDeletelabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Emin misin?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="needs-validation" asp-controller="Admin" asp-action="DeleteCustomer" method="post">
                <div class="modal-body">
                    <input asp-for="Id" value="@Model.Id" hidden />
                    <strong>@Model.Id id @Model.FullName adlı müşteri datasını gerçekten silmek istiyor musunuz?</strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hayır</button>
                    <button type="submit" class="btn btn-danger">Sil</button>
                </div>
            </form>
        </div>
    </div>
</div>