@model UserPhoto


<form asp-controller="User" asp-action="UploadPhoto" method="post" enctype="multipart/form-data">
    <input asp-for="UserId" hidden />
    <div class="row mb-3">
        <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
        <div class="col-md-8 col-lg-9">
            @*<img src="@Model.ProfileImgFilePath" alt="Profile">*@
            <div class="pt-2">
                <input type="file" asp-for="ProfilePhoto" />
                <button type="submit" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></button>
                @*<a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>*@
            </div>
        </div>
    </div>
</form>