@model OwnedPropertiesFilter

@section Scripts {

} 

<!-- Filter form -->
<div class="row">

    <div class="col-md-12">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ara</h5>


                <!-- Custom Styled Validation -->
                <form class="row g-3" asp-controller="Customer" asp-action="OwnedProperties" method="get">
                    @* <div class="col-md-2">
                        <label for="inputPropertyType" class="form-label">Tipi</label>
                        @Html.DropDownList("PropertyTypeId", (IEnumerable<SelectListItem>)ViewData["PropertyTypes"]!,
                                 "Seçiniz...", new { @class = "form-select", @id = "inputPropertyType" })
                    </div>
                    <div class="col-md-2">
                        <label for="inputPropertyStatus" class="form-label">Statüsü</label>
                        @Html.DropDownList("PropertyStatusId",
                                 (IEnumerable<SelectListItem>)ViewData["PropertyStatuses"]!, "Seçiniz...", new
                                 {
                                     @class ="form-select",
                                     @id = "inputPropertyStatus"
                                 })
                    </div> *@
                    <div class="col-md-2">
                        <label for="inputCity" class="form-label">Şehir</label>
                            @await Component.InvokeAsync("_CitySelectItem")
                    </div>
                    <div class="col-md-2">
                        <label for="inputDistrict" class="form-label">İlçe</label>
                            @await Component.InvokeAsync("_DistrictSelectItem",new {CityKey = 34})
                    </div>
                    <div class="col-md-2">
                        <label for="inputNeighborhood" class="form-label">Mahalle</label>
                        <select class="form-select" id="inputNeighborhood">
                            <option selected>Seçiniz...</option>
                        </select>
                    </div>

                    <div class="col-12 d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-primary me-md-2" type="submit">Ara</button>
                        <a class="btn btn-outline-success" asp-action="OwnedProperties">Temizle</a>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>
